.avatar{
    
    box-sizing: border-box;
    transform: scale(2.5);
}
.about{
    font-weight: lighter;
}
.date{
    margin-top: 5%;
    font-size: medium;
    font-weight: bold;
}
.jDate{
    
    color: magenta;
}
ul{
    list-style-type: none;
}
li{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}